footer{
    padding: 5em;
    background: var(--footer-bg);
    text-align: center;
}

footer span:nth-child(1){
    display: block;
    color: var(--cinza-900);
    /* Display md/Semibold */
    font-size: 2.25em;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
}

footer span:nth-child(2){
    display: block;
    color: var(--cinza-500);
    padding: .5em 0 1em 0;
/* Text xl/Normal */
font-size: 1.25em;
font-weight: 400;
line-height: 30px; /* 150% */
}

.card-email{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;

}

#mail{
    width: 330px;
    padding: 10px 12px 10px 14px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: var(--Base-White, #FFF);

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

footer span:nth-child(4){
    
    display: block;
    padding: 1.5em;
    color: var(--cinza-500);
    

/* Text md/Normal */
font-size: 1em;
font-weight: 400;
line-height: 24px; /* 150% */
}