@import url(./nav.css);
@import url(./cabecalho.css);
@import url(./metricas.css);
@import url(./procurando.css);
@import url(./vagas.css);
@import url(./comentarios.css);
@import url(./footer.css);

:root{
    --vermelho: #8E2424;
    --branco: #fff;
    --cinza-200: #EAECF0;
    --cinza-500: #667085;
    --cinza-900: #101828;
    --procurando-bg-texto: #8e24240d;
    --procurando-bg-imagem: #d3d3d3;
    --comentarios-bg: #c3191908;
    --footer-bg: #F9FAFB




}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: "Inter", sans-serif;
}