.metricas{
margin: 10em 0;
}

.metricas ul{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin: 0 18em;
    gap: 8em;
}

.metricas ul li{
    display: grid;
    grid-template: 1fr auto 1fr/ 1fr;
    gap: 1em;
}

.metricas ul li span{
    color: var(--vermelho);

/* Display xl/Semibold */
font-size: 5em;
font-weight: 600;
line-height: 72px; /* 120% */
letter-spacing: -1.2px;
}

.metricas ul li h2{
    color: var(--cinza-900);

/* Text lg/Medium */
font-size: 1.125em;
font-weight: 500;
line-height: 28px; /* 155.556% */
}

.metricas ul li p{
color: var(--cinza-500);

/* Text md/Normal */

font-size: 1em;
font-weight: 400;
line-height: 1.5em; /* 150% */
}